.grid-it {
  $block: grid-it;
  background-color: useThemeVariable($--color-lightest);
  padding: 30px 0;

  &__wrapper {
    @extend %half-page-wrapper;

    @include respond-below(xl) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  &__item {
    &:hover {
      .#{$block}__title {
        a {
          @extend %underline-hover;
        }
      }
    }
  }

  &__sub-items-wrapper {
    @extend %half-page-sub-items-wrapper;

    @include respond-below(md) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  &__category {
    margin: 0 0 8px;
    font-size: useThemeVariable($--font-size-b3);
    line-height: useThemeVariable($--line-height-b3);
    font-weight: useThemeVariable($--p-medium);
    color: useThemeVariable($--color-secondary);
  }

  &__title {
    margin: 0;

    &--light {
      color: useThemeVariable($--color-white);
    }

    a {
      @extend %underline;
    }
  }
}
