.grid-it {
  $block: grid-it;
  background-color: useThemeVariable($--color-lightest);
  padding: 30px;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 30px;
  }

  &__item {
    &:hover {
      .#{$block}__title {
        a {
          @extend %underline-hover;
        }
      }
    }
  }

  &__sub-items-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 30px;
  }

  &__category {
    margin: 0 0 8px;
    font-size: useThemeVariable($--font-size-b3);
    line-height: useThemeVariable($--line-height-b3);
    font-weight: useThemeVariable($--p-medium);
    color: useThemeVariable($--color-secondary);
  }

  &__title {
    margin: 0;
    a {
      @extend %underline;
    }
  }
}
