.grid-it {
  &__main-item {
    position: relative;
    overflow: hidden;
    border-radius: useThemeVariable($--radius);
    display: flex;

    &:hover {
      img {
        transform: useThemeVariable($--image-scale);
      }
    }

    img {
      transition: useThemeVariable($--image-transition);
    }
  }

  &__main-item-content {
    padding: 0 40px 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    .category {
      margin-bottom: 10px;
      color: useThemeVariable($--color-lightest);

      &:hover {
        color: useThemeVariable($--color-primary);
      }
    }
  }

  &__main-item-image {
    position: relative;
    overflow: hidden;
    border-radius: useThemeVariable($--radius);
    flex: 1;

    @include respond-below(xl) {
      @include aspect-3-2;
    }

    @include respond-below(md) {
      @include aspect-1-1;
    }
  }

  &__main-item-title {
    color: useThemeVariable($--color-white);
  }
}
