.grid-it {
  &__sub-item {
    &:hover {
      img {
        transform: useThemeVariable($--image-scale);
      }
    }

    img {
      transition: useThemeVariable($--image-transition);
    }
  }

  &__sub-item-content {
    padding-top: 20px;

    .category {
      margin-bottom: 8px;
    }
  }

  &__sub-item-image {
    display: block;
    position: relative;
    border-radius: useThemeVariable($--radius);
    overflow: hidden;
    @include aspect-3-2;

    @include respond-below(md) {
      @include aspect-16-9;
    }
  }
}
