.bottom-nav {
  @include respond-below(lg) {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    padding: 0;

    @include respond-below(lg) {
      justify-content: center;
    }
  }
}
