.bottom-nav {
  @include respond-below(lg) {
    margin-top: 20px;
  }

  &__list-item {
    margin: 10px;

    a {
      color: useThemeVariable($--color-midgray);
      font-size: useThemeVariable($--font-size-b2);
      line-height: useThemeVariable($--line-height-b2);
      font-weight: useThemeVariable($--p-medium);
    }
  }
}
