.tab-grid {
  background-color: useThemeVariable($--bg-default);
  padding: 80px 0;

  @include respond-below(md) {
    padding: 45px 0;
  }

  &__title {
    margin: 0;
  }

  &__tabs {
    .tabs {
      margin-top: 20px;
    }
  }

  &__empty {
    margin-top: 40px;
  }

  &__items {
    display: none;
    margin-top: 40px;
    grid-template-columns: 7fr 5fr;

    @include respond-below(xl) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    gap: 30px;
    opacity: 0;
    transition: opacity useThemeVariable($--transition) linear;

    &--active {
      display: grid;
      opacity: 1;
      animation: 1s forwards tabAnimation;
    }
  }
}

@keyframes tabAnimation {
  0% {
    display: grid;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
