.post-meta {
  display: flex;
  align-items: center;

  &__avatar {
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }

  &__author-name {
    margin-bottom: 4px;
    font-weight: useThemeVariable($--p-medium);

    &--light {
      color: useThemeVariable($--color-white);
    }
  }
}
