@import "styles/variables";
@import "styles/media-queries";
@import "styles/functions";

.mobile-menu {
  &__item {
    padding: 5px 0;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid useThemeVariable($--color-midgray);

    &--with-children {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__link {
    outline: none;
    user-select: none;
    display: inline-block;
    cursor: pointer;
    width: calc(100% - 40px);
    font-family: useThemeVariable($--font-primary);
    color: useThemeVariable($--color-white);
    &--active {
      color: useThemeVariable($--color-primary);
    }
  }

  &__link-icon-wrapper {
    display: flex;
    width: 40px;
    align-items: center;
    justify-content: flex-end;
  }

  &__link-icon-holder {
    display: flex;
    align-items: center;
    width: 16px;
    height: 16px;
  }

  &__link-icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
    color: transparent;
    cursor: pointer;
    stroke: useThemeVariable($--color-body);
  }
}
