.tabs {
  &__item {
    list-style: none;
    margin: 10px;

    @include respond-below(md) {
      margin: 5px;
    }
  }

  &__tab {
    display: inline-block;
    border: 1px solid useThemeVariable($--color-lighter);
    border-radius: useThemeVariable($--radius-small);
    padding: 0 18px;
    height: 46px;
    line-height: 46px;
    font-weight: useThemeVariable($--p-bold);
    font-size: useThemeVariable($--font-size-b1);
    color: useThemeVariable($--color-midgray);
    background: useThemeVariable($--bg-default);
    outline: none;

    @include respond-below(md) {
      padding: 0 8px;
      height: 28px;
      line-height: 28px;
      font-size: useThemeVariable($--font-size-b4);
    }

    &--active {
      border: 1px solid transparent;
      background-color: useThemeVariable($--bg-tab-active);
      color: useThemeVariable($--color-extra05);
      box-shadow: useThemeVariable($--shadow-primary);
    }
  }
}
