.post-page {
  display: grid;
  align-items: start;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  padding: 80px 0;

  &__sidebar {
    @extend %sidebar;
  }

  &__content {
    .category {
      margin-bottom: 20px;
    }

    .post-meta {
      margin-top: 40px;
      border-bottom: 1px solid useThemeVariable($--color-lighter);
      padding-bottom: 20px;
    }
  }

  &__breadcrumbs {
    margin: 12px 0 40px;
    padding: 20px 0;
  }
}
