.post-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  padding: 80px 0;

  @include respond-below(lg) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 45px 0;
  }

  &__sidebar {
    @extend %sidebar;
  }

  &__content {
    .category {
      margin-bottom: 20px;
    }

    .post-meta {
      margin-top: 40px;
      border-bottom: 1px solid useThemeVariable($--color-lighter);
      padding-bottom: 20px;
    }
  }

  &__body {
    a {
      color: useThemeVariable($--color-secondary);
      text-decoration: underline;
    }
  }

  &__breadcrumbs {
    margin: 12px 0 40px;
    padding: 20px 0;

    @include respond-below(lg) {
      margin: 12px 0;
    }
  }
}
