.about-us-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  padding: 80px 0;

  @include respond-below(lg) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  @include respond-below(md) {
    padding: 45px 0;
  }

  &__sidebar {
    @extend %sidebar;
  }
}
