.list-view {
  background-color: useThemeVariable($--bg-default);
  position: relative;
  padding: 80px 0;

  @include respond-below(md) {
    padding: 45px 0;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 6.66fr 3.33fr;
    gap: 30px;

    @include respond-below(lg) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  &__sidebar {
    @extend %sidebar;
  }
}
