.list-view-item {
  $block: list-view-item;

  display: grid;
  margin-top: 30px;
  grid-template-columns: 295px 1fr;
  gap: 20px;
  min-height: 250px;

  @include respond-below(xl) {
    grid-template-columns: 225px 1fr;
  }

  @include respond-below(lg) {
    grid-template-columns: 295px 1fr;
  }

  @include respond-below(md) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 0;
  }

  &:hover {
    img {
      transform: useThemeVariable($--image-scale);
    }

    .#{$block}__content {
      box-shadow: useThemeVariable($--shadow-primary);
      background: useThemeVariable($--bg-list-view-active);
      border: 1px solid useThemeVariable($--bg-list-view-active);
    }

    .#{$block}__title {
      a {
        @extend %underline-hover;
      }
    }
  }

  img {
    transition: useThemeVariable($--image-transition);
  }

  &__thumbnail {
    display: flex;
    overflow: hidden;
    border-radius: useThemeVariable($--radius);

    @include respond-below(md) {
      border-radius: useThemeVariable($--radius) useThemeVariable($--radius) 0 0;
    }

    a {
      width: 100%;
      position: relative;
      @include respond-below(md) {
        @include aspect-16-9;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid useThemeVariable($--color-lightest);
    padding: 32px 30px;
    border-radius: useThemeVariable($--radius);
    transition: useThemeVariable($--transition);

    @include respond-below(md) {
      border-radius: 0 0 useThemeVariable($--radius) useThemeVariable($--radius);
      padding: 32px 20px;
    }
    .category {
      margin-bottom: 15px;
    }
  }

  &__title {
    margin: 0;
    a {
      @extend %underline;
    }
  }

  &__post-meta {
    margin-top: 46px;
  }

  &__chip-wrapper {
    margin-top: 8px;
  }
}
