.header {
  .header-top {
    background-color: useThemeVariable($--color-lightest);
    padding: 12px 0;

    @include respond-below(xl) {
      padding: 20px 0;
    }

    &__wrapper {
      position: relative;
      display: flex;
      align-items: center;
    }

    &__date {
      display: inline-block;
      margin-right: 20px;
      line-height: 1;
      font-size: useThemeVariable($--font-size-b3);
      color: useThemeVariable($--color-midgray);

      @include respond-below(md) {
        margin-right: 5px;
      }
    }

    &__menu {
      display: flex;
      &-item {
        margin: 0 20px;
        display: flex;

        @include respond-below(lg) {
          margin: 0 10px;
        }

        a {
          color: useThemeVariable($--color-midgray);
          font-size: toRem(14);
          line-height: toRem(22);
          &:hover {
            color: useThemeVariable($--color-primary);
          }
        }
      }
    }
  }

  .header-middle {
    padding: 20px 0;
    border-bottom: 1px solid useThemeVariable($--color-lightest);
    background-color: useThemeVariable($--bg-default);
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__logo {
      display: flex;
      align-items: center;

      a {
        display: flex;
      }
    }

    &__advertisement {
      height: 92px;
      max-height: 92px;
      width: 728px;
      overflow: hidden;
      margin-left: 30px;

      @include respond-below(sm) {
        max-width: 50%;
      }

      img {
        max-width: 100%;
      }
    }
  }

  .header-bottom {
    background-color: useThemeVariable($--bg-default);
  }
}
