%transition {
  transition-duration: useThemeVariable($--transition);
  transition-property: all;
}

%underline {
  background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
  background-size: 0 2px;
  background-position: 0 95%;
  transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  padding: 0.1% 0;
  background-repeat: no-repeat;
  display: inline;
  &:hover {
    color: inherit;
  }
}

%underline-hover {
  background-size: 100% 2px;
}

%half-page-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 30px;
}

%half-page-sub-items-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 30px;
}

%sidebar {
  display: flex;
  flex-direction: column;

  & > *:not(:first-child) {
    margin-top: 30px;
  }
}
