h1,
.h1 {
  font-size: toREm(36);
  line-height: toREm(42);
  font-weight: 400;
  font-family: useThemeVariable($--font-display);
  letter-spacing: toRem(2);

  @include respond-below(sm) {
    font-size: toRem(28);
    line-height: toRem(36);
  }

  &.page-title {
    margin-top: 20px;
    margin-bottom: 10px;
    @include respond-above(md) {
      margin-top: 36px;
    }
    &--updated-at {
      margin-bottom: 20px;
      @include respond-above(md) {
        margin-bottom: 48px;
      }
    }
  }
}

h2,
.h2 {
  font-size: toRem(27);
  line-height: toRem(32);
  font-weight: 400;
  margin: 0;
  font-family: useThemeVariable($--font-display);
  letter-spacing: toRem(2);

  @include respond-below(sm) {
    font-size: toRem(22);
    line-height: toRem(28);
  }
}

h3,
.h3 {
  font-size: toRem(22);
  line-height: toRem(28);
  font-weight: 400;
  margin: 0;
  font-family: useThemeVariable($--font-body);
  letter-spacing: toRem(1);

  @include respond-below(sm) {
    font-size: toRem(18);
    line-height: toRem(24);
  }
}

h4,
.h4 {
  font-size: toRem(18);
  line-height: toRem(21);
  font-weight: 400;
  margin: 0;
  font-family: useThemeVariable($--font-body);

  @include respond-below(sm) {
    font-size: toRem(16);
    line-height: toRem(22);
  }
}

body {
  font-size: toRem(16);
  line-height: toRem(28);
  font-weight: 300;
  font-family: useThemeVariable($--font-body);
  color: useThemeVariable($--theme-typography-default);

  @include respond-below(md) {
    font-size: toRem(14);
  }
}

a {
  font-family: useThemeVariable($--font-display);
  font-weight: 300;
  text-decoration: none;
  display: inline-block;
  color: useThemeVariable($--theme-typography-default);
  transition: all 0.2s ease-out;

  &.link-inline {
    color: useThemeVariable($--theme-secondary);
    font-family: useThemeVariable($--font-body);
    &:hover {
      color: useThemeVariable($--theme-primary);
    }
  }
}

