.top-nav__item {
  position: relative;
  display: block;
  margin: 0 18px;

  @include respond-below(2xl) {
    margin: 0 10px;
  }

  &--deep {
    margin: 10px 0;
  }

  &--flat:first-child {
    padding-left: 0;
  }
}
